{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Обертка текста</h1>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur ea enim facilis iste nemo odio, perferendis quae rerum totam? Excepturi maiores obcaecati officiis tempore! Eligendi excepturi maiores nihil veniam?</span><span>Dignissimos esse excepturi facere fuga id illum, impedit ipsum itaque modi natus nihil quo? Alias at consectetur error facere fugit mollitia natus nemo veniam voluptatem! Corporis ipsam optio quidem recusandae.</span>
                </p>
                <p><a class="btn btn-primary btn-lg" href="" role="button">Список услуг &raquo;</a></p>
            </div>
        </div>



    </main>
{% endblock %}